---
http_interactions:
- request:
    method: get
    uri: https://countriesnow.space/api/v0.1/countries/capital/q?country=Nigeria
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '400'
      Ratelimit-Remaining:
      - '396'
      Ratelimit-Reset:
      - '103'
      Etag:
      - W/"7b-768HfpVCKcoVCeS3iIv9bzGEfio"
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"msg":"country and capitals retrieved","data":{"name":"Nigeria","capital":"Abuja","iso2":"NG","iso3":"NGA"}}'
  recorded_at: Fri, 13 Jan 2023 16:09:53 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/geocoding?city=Abuja&country=Nigeria
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - X-Api-Key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 2eeaedb1-4a86-462b-bc6b-73d8f675e6b5
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - esFMxGcUvHcFbOg=
    body:
      encoding: UTF-8
      string: '[{"name": "Abuja", "latitude": 9.0643305, "longitude": 7.4892974, "country":
        "NG", "state": "Federal Capital Territory"}, {"name": "Abuja", "latitude":
        11.6520256, "longitude": 13.4171003, "country": "NG", "state": "Borno State"},
        {"name": "Abuja", "latitude": 11.538, "longitude": 8.80167, "country": "NG",
        "state": "Kano State"}, {"name": "Abuja", "latitude": 11.6264, "longitude":
        8.49162, "country": "NG", "state": "Kano State"}, {"name": "Abuja", "latitude":
        9.25, "longitude": 6.933333, "country": "NG", "state": "Federal Capital Territory"}]'
  recorded_at: Fri, 13 Jan 2023 16:09:54 GMT
recorded_with: VCR 6.1.0
