---
http_interactions:
- request:
    method: get
    uri: https://countriesnow.space/api/v0.1/countries/capital/q?country=France
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '400'
      Ratelimit-Remaining:
      - '396'
      Ratelimit-Reset:
      - '86'
      Etag:
      - W/"7a-Px3q6KxlWJ0pxJ2pkcuIxi/wvvA"
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"msg":"country and capitals retrieved","data":{"name":"France","capital":"Paris","iso2":"FR","iso3":"FRA"}}'
  recorded_at: Fri, 13 Jan 2023 01:14:11 GMT
recorded_with: VCR 6.1.0
