---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/geocoding?city=Paris&country=France
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - X-Api-Key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 220b8abd-c2b3-455c-8180-8c2a25ca34c6
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - esheEG2GPHcFgEg=
    body:
      encoding: UTF-8
      string: '[{"name": "Paris", "latitude": 48.8588897, "longitude": 2.3200410217200766,
        "country": "FR", "state": "Ile-de-France"}, {"name": "Paris", "latitude":
        48.8534951, "longitude": 2.3483915, "country": "FR", "state": "Ile-de-France"},
        {"name": "Paris", "latitude": 48.8588897, "longitude": 2.3200410217200766,
        "country": "FR", "state": "Ile-de-France"}, {"name": "Parisot", "latitude":
        44.6370913, "longitude": 0.77482, "country": "FR", "state": "Nouvelle-Aquitaine"},
        {"name": "Paris", "latitude": 44.5626798, "longitude": -0.865783, "country":
        "FR", "state": "Nouvelle-Aquitaine"}]'
  recorded_at: Fri, 13 Jan 2023 19:22:54 GMT
recorded_with: VCR 6.1.0
