---
http_interactions:
- request:
    method: get
    uri: https://countriesnow.space/api/v0.1/countries/capital/q?country=France
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '400'
      Ratelimit-Remaining:
      - '392'
      Ratelimit-Reset:
      - '99'
      Etag:
      - W/"7a-Px3q6KxlWJ0pxJ2pkcuIxi/wvvA"
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"msg":"country and capitals retrieved","data":{"name":"France","capital":"Paris","iso2":"FR","iso3":"FRA"}}'
  recorded_at: Fri, 13 Jan 2023 17:46:44 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/geocoding?city=Paris&country=France
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<ninja_key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - d05c584e-bdfe-4dd8-b2af-fb6ce0a06ce0
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - esTYvFERvHcFstA=
    body:
      encoding: UTF-8
      string: '[{"name": "Paris", "latitude": 48.8588897, "longitude": 2.3200410217200766,
        "country": "FR", "state": "Ile-de-France"}, {"name": "Paris", "latitude":
        48.8534951, "longitude": 2.3483915, "country": "FR", "state": "Ile-de-France"},
        {"name": "Paris", "latitude": 48.8588897, "longitude": 2.3200410217200766,
        "country": "FR", "state": "Ile-de-France"}, {"name": "Parisot", "latitude":
        44.6370913, "longitude": 0.77482, "country": "FR", "state": "Nouvelle-Aquitaine"},
        {"name": "Paris", "latitude": 44.5626798, "longitude": -0.865783, "country":
        "FR", "state": "Nouvelle-Aquitaine"}]'
  recorded_at: Fri, 13 Jan 2023 17:46:45 GMT
recorded_with: VCR 6.1.0
