---
http_interactions:
- request:
    method: get
    uri: https://countriesnow.space/api/v0.1/countries/capital/q?country=United%20Kingdom
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '400'
      Ratelimit-Remaining:
      - '381'
      Ratelimit-Reset:
      - '28'
      Etag:
      - W/"83-scnCoI0rW0TmYVArnonD3VyqQbU"
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"msg":"country and capitals retrieved","data":{"name":"United
        Kingdom","capital":"London","iso2":"GB","iso3":"GBR"}}'
  recorded_at: Fri, 13 Jan 2023 18:02:48 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/geocoding?city=London&country=United%20Kingdom
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<X-Api-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 1c9ecb96-9031-4e09-b960-b95659fc6b30
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - esVveF5PPHcFj1Q=
    body:
      encoding: UTF-8
      string: '[{"name": "London", "latitude": 51.5073219, "longitude": -0.1276474,
        "country": "GB", "state": "England"}, {"name": "City of London", "latitude":
        51.5156177, "longitude": -0.0919983, "country": "GB", "state": "England"},
        {"name": "Chelsea", "latitude": 51.4875167, "longitude": -0.1687007, "country":
        "GB", "state": "England"}, {"name": "Vauxhall", "latitude": 51.4874834, "longitude":
        -0.1229297, "country": "GB", "state": "England"}]'
  recorded_at: Fri, 13 Jan 2023 18:02:49 GMT
recorded_with: VCR 6.1.0
